Repository bxmty/dotCA: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

test:
  name: Jest Tests
  entry: npm test -- --watchAll=false --passWithNoTests --coverage=false --testFailureExitCode=0
  language: system
  pass_filenames: false

terraform_fmt:
  name: Terraform Format
  entry: terraform fmt -check -diff
  language: system
  pass_filenames: false

terraform_validate:
  name: Terraform Validate
  entry: terraform validate
  language: system
  pass_filenames: false

tflint:
  name: TFLint
  entry: tflint
  language: system
  pass_filenames: false

chore(services): retire law/CPA/agency pages
  content/pages/services-it-services-for-accounting-firms.md
  content/pages/services-it-services-for-law-firms.md
  content/pages/services-it-services-for-marketing-agencies.md
  next.config.js
  src/app/components/BreadcrumbSchema.tsx
  src/app/services/it-services-for-accounting-firms/content.ts
  src/app/services/it-services-for-accounting-firms/opengraph-image.tsx
  src/app/services/it-services-for-accounting-firms/page.tsx
  src/app/services/it-services-for-law-firms/content.ts
  src/app/services/it-services-for-law-firms/opengraph-image.tsx
  src/app/services/it-services-for-law-firms/page.tsx
  src/app/services/it-services-for-marketing-agencies/content.ts
  src/app/services/it-services-for-marketing-agencies/opengraph-image.tsx
  src/app/services/it-services-for-marketing-agencies/page.tsx
Due: eslint, typecheck, test

feat(home): reposition for away-from-desk niche
  content/pages/blog.md
  content/pages/home.md
  content/pages/pricing.md
  e2e/post-deployment.spec.ts
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/tests/page.test.tsx
  src/tests/pricing-page.test.tsx
Due: eslint, typecheck, test

fix(onboarding): align employee buckets to ICP
  content/pages/onboarding.md
  src/app/onboarding/page.tsx
  src/tests/api-onboarding.test.ts
  src/tests/onboarding-page.test.tsx
Due: eslint, typecheck, test

docs: add webmaster web copy change request
  tasks/webmaster-web-copy-changes.md
Due: none

chore(deps): bump pinned stack dependencies
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/environment-destroy.yml
  .github/workflows/image-cleanup.yml
  .github/workflows/log-aggregation.yml
  .nvmrc
  Dockerfile
  Dockerfile.dev
  ansible/requirements.yml
  package-lock.json
  package.json
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
  terraform/main.tf
Due: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

fix(deploy): resolve correct image tag and stop silent cleanup failures on staging
  ansible/staging-deploy.yml
Due: none

fix(deploy): push full-length SHA image tags to match what deploy expects
  .github/workflows/deploy.yml
Due: none

chore(deps): update npm, Node, Terraform, and Actions pins
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/environment-destroy.yml
  .nvmrc
  Dockerfile
  Dockerfile.dev
  copy-infra.sh
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  package-lock.json
  package.json
  terraform/main.tf
Due: audit, terraform_fmt, terraform_validate, tflint

fix(sentry): tag events with actual environment
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
Due: eslint, typecheck, test

feat(analytics): add GA4 Measurement Protocol sender
  src/lib/ga4.ts
  src/tests/ga4.lib.test.ts
Due: eslint, typecheck, test

chore(deploy): wire GA4_MP_API_SECRET through all environments
  .env.example
  .github/actions/deploy/action.yml
  .github/workflows/deploy.yml
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/templates/docker-compose.yml.j2
Due: none

feat(checkout): capture GA client_id and session_id into Stripe metadata
  src/app/api/stripe/create-subscription/route.ts
  src/app/components/StripeWrapper.tsx
  src/lib/ga4.ts
  src/lib/ga4Cookies.ts
  src/tests/StripeWrapper.test.tsx
  src/tests/api-stripe-create-subscription.test.ts
Due: eslint, typecheck, test

feat(webhook): send GA4 purchase conversion on new paid subscription
  src/app/api/stripe/webhook/route.ts
  src/tests/api-stripe-webhook.test.ts
Due: eslint, typecheck, test

feat(leads): send GA4 generate_lead and sign_up conversions server-side
  src/app/api/contact/route.ts
  src/app/api/onboarding/route.ts
  src/tests/api-contact.test.ts
  src/tests/api-onboarding.test.ts
Due: eslint, typecheck, test

fix(sentry): send browser DSN to the client
  .github/workflows/deploy.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  Dockerfile
  src/instrumentation-client.ts
  src/tests/instrumentation-client.test.ts
Due: eslint, typecheck, test

test: set coverage thresholds to measured
  jest.config.cjs
Due: none

fix(ci): unmask failing tests in the deploy gate
  .github/actions/test-runner/README.md
  .github/actions/test-runner/action.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  package.json
  src/tests/no-test-failure-suppression.test.ts
  tasks/code-review-followups.md
Due: eslint, typecheck, test

fix(seo): noindex the Sentry example page
  src/app/sentry-example-page/layout.tsx
  src/app/sentry-example-page/metadata.ts
Due: eslint, typecheck, test

fix(observability): filter bot Server Action noise in Sentry
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, typecheck, test

chore(deps): pin npm, Node, and Terraform updates
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/environment-destroy.yml
  .nvmrc
  Dockerfile
  Dockerfile.dev
  next.config.js
  package-lock.json
  package.json
  src/app/api/contact/route.ts
  src/app/api/onboarding/route.ts
  src/lib/ga4.ts
  src/lib/stripe.ts
  src/tests/api-contact.test.ts
  src/tests/api-onboarding.test.ts
  src/tests/api-stripe-create-subscription.test.ts
  src/tests/api-stripe-webhook.test.ts
  src/tests/ga4.lib.test.ts
  src/tests/stripe.lib.test.ts
  terraform/main.tf
Due: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

fix(test): ignore build output in jest discovery
  .dockerignore
  .gitignore
  jest.config.cjs
  src/tests/jest-config-scope.test.ts
Due: eslint, typecheck, test

test: cover SEO and pages-router modules
  jest.config.cjs
  src/tests/legacy-pages.test.tsx
  src/tests/manifest.test.ts
  src/tests/og-images.test.tsx
  src/tests/pages-app.test.tsx
  src/tests/pages-error.test.tsx
  src/tests/robots.test.ts
  src/tests/schema.lib.test.ts
  src/tests/sitemap.test.ts
  tasks/code-review-followups.md
Due: eslint, typecheck, test

fix(deploy): always pull image on deploy
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
Due: none

fix(build): keep CI commit hash in Docker builds
  Dockerfile
  package.json
Due: none

feat(contact): add /book redirect to Bookings
  src/app/book/route.ts
  src/app/components/ContactForm.tsx
  src/tests/ContactForm.test.tsx
  src/tests/book-route.test.ts
Due: eslint, typecheck, test

fix: add client no-cause termination right, cap liquidated damages
  content/pages/terms-of-service.md
Due: none

content: add "10 Questions to Ask Before Signing an IT Contract" lead magnet
  content/blog/10-questions-before-signing-an-it-contract.md
Due: none

Merge pull request #602 from bxmty/content/10-questions-lead-magnet
  content/blog/10-questions-before-signing-an-it-contract.md
Due: none

chore(deps): bump npm, Terraform, and Actions
  .github/workflows/deploy.yml
  .github/workflows/environment-destroy.yml
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
  terraform/main.tf
Due: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

chore(deps): bump npm, Terraform, and Actions (#607)
  .github/workflows/deploy.yml
  .github/workflows/environment-destroy.yml
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
  terraform/main.tf
Due: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

feat(blog): add reusable post CTA
  content/blog/backups.md
  content/blog/diy-law.md
  content/blog/fractional-cto.md
  content/blog/ms-business-premium.md
  content/blog/ms-teams.md
  src/app/components/BlogCta.tsx
  src/app/components/BlogPost.tsx
  src/lib/blog.ts
  src/tests/BlogCta.test.tsx
  src/tests/BlogPostCta.test.tsx
  src/tests/blog.lib.test.ts
  src/types/blog.ts
Due: eslint, typecheck, test

feat(blog): add reusable post CTA (#608)
  content/blog/backups.md
  content/blog/diy-law.md
  content/blog/fractional-cto.md
  content/blog/ms-business-premium.md
  content/blog/ms-teams.md
  src/app/components/BlogCta.tsx
  src/app/components/BlogPost.tsx
  src/lib/blog.ts
  src/tests/BlogCta.test.tsx
  src/tests/BlogPostCta.test.tsx
  src/tests/blog.lib.test.ts
  src/types/blog.ts
Due: eslint, typecheck, test

fix(ci): give each image build its own tag
  .github/workflows/deploy.yml
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/templates/docker-compose.yml.j2
  docs/cicd/image-tagging-strategy.md
  scripts/build-image-tag.cjs
  src/tests/build-image-tag.test.ts
  src/tests/deploy-image-tag.test.ts
  src/tests/image-identity-deploy.test.ts
Due: eslint, typecheck, test

fix(ci): fail closed when the build tag is gone
  .github/workflows/deploy.yml
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  docs/cicd/image-tagging-strategy.md
  src/tests/build-image-tag.test.ts
  src/tests/deploy-image-tag.test.ts
  src/tests/image-identity-deploy.test.ts
Due: eslint, typecheck, test

docs(ci): match tagging guide to deploy tags
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  docs/cicd/image-tagging-strategy.md
  src/tests/deploy-image-tag.test.ts
Due: eslint, typecheck, test

chore(ci): drop stub monitoring workflows
  .cursor/commands/update-deps.md
  .github/workflows/README.md
  .github/workflows/deployment-dashboard.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/log-aggregation.yml
  docs/ci-cd-architecture.md
  docs/cicd/README.md
  docs/cicd/cicd-architecture-comparison.md
  docs/cicd/deployment-ghcr.md
  docs/cicd/image-promotion-workflow.md
  docs/component-interaction-diagram.md
Due: none

docs(design): snapshot brand sheet and spec
  docs/design/README.md
  docs/design/brand-sheet.html
  docs/design/component-spec.html
  docs/design/logo/boximity-isotype.svg
  docs/design/logo/boximity-lockup.svg
Due: none

build(deps): pin lighthouse and puppeteer-core
  package-lock.json
  package.json
Due: audit

feat(perf): add perf-gate compare logic
  src/lib/perfGate.ts
  src/tests/perfGate.lib.test.ts
Due: eslint, typecheck, test

feat(perf): add Lighthouse perf-gate runner
  package.json
  scripts/perf-gate.ts
  tsconfig.json
Due: eslint, typecheck, test

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typecheck: any of: \.(ts|tsx)$
  audit: any of: package-lock\.json$
  test: any of: \.(js|jsx|ts|tsx)$
  terraform_fmt: any of: \.tf$
  terraform_validate: any of: \.tf$
  tflint: any of: \.tf$
