Repository bxmty/dotCA: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md)$
        exclude: |
          (?x)(
            package-lock\.json$
            | \.tsbuildinfo$
            | next-env\.d\.ts$
            | CLAUDE\.md$
            | ansible/
            | \.github/actions/
          )

  # ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

  # TypeScript type checking (re-enabled after fixing errors)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Type Check
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

  # Security audit
  - repo: local
    hooks:
      - id: audit
        name: Security Audit
        entry: npm audit --audit-level moderate
        language: system
        pass_filenames: false
        files: package-lock\.json$

  # Jest tests (temporarily allowing failures while test suite is being improved)
  - repo: local
    hooks:
      - id: test
        name: Jest Tests
        entry: npm test -- --watchAll=false --passWithNoTests --coverage=false --testFailureExitCode=0
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

  # Terraform linting and validation
  - repo: local
    hooks:
      - id: terraform_fmt
        name: Terraform Format
        entry: terraform fmt -check -diff
        language: system
        pass_filenames: false
        files: \.tf$

      - id: terraform_validate
        name: Terraform Validate
        entry: terraform validate
        language: system
        pass_filenames: false
        files: \.tf$

      - id: tflint
        name: TFLint
        entry: tflint
        language: system
        pass_filenames: false
        files: \.tf$

  # Ansible linting (temporarily disabled due to exclude pattern issues)
  # - repo: local
  #   hooks:
  #     - id: ansible_lint
  #       name: Ansible Lint
  #       entry: ansible-lint
  #       language: system
  #       pass_filenames: false
  #       files: ^ansible/.*\.(yml|yaml)$
  #       exclude: \.pre-commit-config\.yaml$

feat: add GitHub Actions act commands to Makefile
  Makefile
Due: none

fix: resolve ESLint configuration issues for CI
  .eslintrc.js
  src/tests/onboarding-page.test.tsx
  src/tests/page.test.tsx
  src/tests/test-utils.test.tsx
Due: eslint, typecheck, test

fix: resolve npm dependency conflicts after ESLint downgrade
  package-lock.json
Due: audit

fix: complete ESLint migration and dependency cleanup
  package-lock.json
  package.json
Due: audit

style: format ESLint config with double quotes and remove unused flat config
  .eslintrc.js
  eslint.config.mjs
Due: eslint, test

Add terms of service page and migrate from Makefile to Justfile
  README.md
  docs/makefile-to-justfile-migration.md
  justfile
  src/app/components/Footer.tsx
  src/app/terms-of-service/metadata.ts
  src/app/terms-of-service/page.tsx
  tsconfig.json
Due: eslint, typecheck, test

Add SEO keyword strategy and Ontario managed IT services landing page
  docs/keyword-strategy.md
  src/app/services/managed-it-services-ontario/page.tsx
Due: eslint, typecheck, test

feat: update managed IT services Ontario page
  src/app/services/managed-it-services-ontario/page.tsx
Due: eslint, typecheck, test

feat: block search engine indexing for non-production environments
  src/app/robots.ts
Due: eslint, typecheck, test

fix: resolve all ESLint errors
  .eslintrc.js
  README.md
  eslint.config.js
  jest.config.cjs
  justfile
  next.config.js
  package-lock.json
  package.json
  src/app/checkout/page.tsx
Due: eslint, typecheck, audit, test

Add IT services page for law firms
  src/app/services/it-services-for-law-firms/page.tsx
Due: eslint, typecheck, test

Add IT services page for accounting firms
  src/app/services/it-services-for-accounting-firms/page.tsx
Due: eslint, typecheck, test

Add IT services page for marketing agencies
  src/app/services/it-services-for-marketing-agencies/page.tsx
Due: eslint, typecheck, test

Add IT services page for architecture firms
  src/app/services/it-services-for-architecture-firms/page.tsx
Due: eslint, typecheck, test

Implement MDX renderer with react-markdown
  package-lock.json
  package.json
  src/app/blog/[slug]/page.tsx
Due: eslint, typecheck, audit, test

feat: add blog functionality components and types
  src/app/blog/page.tsx
  src/app/components/BlogCard.tsx
  src/app/components/BlogList.tsx
  src/app/components/BlogPost.tsx
  src/lib/blog.ts
  src/types/blog.ts
Due: eslint, typecheck, test

feat: add blog content and images
  content/blog/backups.mdx
  content/blog/diy-law.mdx
  content/blog/https.mdx
  content/blog/ms-teams.mdx
  content/blog/password-paradox.mdx
  content/blog/standardized-it.mdx
  public/images/blog/backups.webp
  public/images/blog/diy-law.webp
  public/images/blog/https.webp
  public/images/blog/ms-teams.webp
  public/images/blog/passwords.webp
  public/images/blog/standardization.webp
Due: none

feat: add blog post validation script
  scripts/validate-blog-posts.js
Due: eslint, test

feat: update configuration for blog deployment
  .github/workflows/deploy.yml
  get-commit-hash.js
  next.config.js
Due: eslint, test

feat: update UI components for blog integration
  src/app/components/Footer.tsx
  src/app/components/Navbar.tsx
Due: eslint, typecheck, test

deps: update npm packages to latest versions
  package-lock.json
  package.json
Due: audit

feat: add cursor commands for commit and dependency updates
  .cursor/commands/commit.md
  .cursor/commands/update-deps.md
Due: none

feat: add update-deps.sh script for dependency management
  scripts/update-deps.sh
Due: none

feat: enhance sitemap with dynamic content generation
  src/app/sitemap.ts
Due: eslint, typecheck, test

style: format renovate.json with prettier
  renovate.json
Due: none

refactor: remove obsolete renovate.md command
  .cursor/commands/renovate.md
Due: none

chore: apply pre-commit fixes (eof, formatting)
  .cursor/commands/commit.md
  .cursor/commands/update-deps.md
  scripts/update-deps.sh
Due: none

refactor(navbar): use Bootstrap navbar and collapse for mobile
  src/app/components/Navbar.tsx
Due: eslint, typecheck, test

feat(blog): add fractional CTO article and cover image
  content/blog/fractional-cto.mdx
  public/images/blog/cto.webp
Due: none

chore(deps): pin npm dependencies to exact versions
  package-lock.json
  package.json
Due: audit

chore(ci): pin GitHub Actions to exact versions
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/image-cleanup.yml
  .github/workflows/log-aggregation.yml
Due: none

chore(terraform): update DigitalOcean provider to 2.75.0
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

fix(stripe): use API version 2026-01-28.clover for SDK v20
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, test

docs: update update-deps command with pin and CI steps
  .cursor/commands/update-deps.md
Due: none

chore(deps): bump npm deps and pin versions
  package-lock.json
  package.json
Due: audit

chore(terraform): bump DigitalOcean provider to 2.76.0
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

docs(blog): add enterprise security article
  content/blog/enterprise-security.mdx
Due: none

chore(deps): update dependencies and pin exact versions
  .github/workflows/deploy.yml
  .npmrc
  package-lock.json
  package.json
Due: audit

chore: archive cicd simplification PRD and task list
  tasks/archive/prd-cicd-simplification.md
  tasks/archive/tasks-prd-cicd-simplification.md
Due: none

style: fix end-of-file in enterprise-security.mdx
  content/blog/enterprise-security.mdx
Due: none
