Repository bxmty/dotCA: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  # Prettier for code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|yaml|yml|md)$
        exclude: |
          (?x)(
            package-lock\.json$
            | \.tsbuildinfo$
            | next-env\.d\.ts$
            | CLAUDE\.md$
            | ansible/
            | \.github/actions/
          )

  # ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

  # TypeScript type checking (re-enabled after fixing errors)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript Type Check
        entry: npm run typecheck
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

  # Security audit
  - repo: local
    hooks:
      - id: audit
        name: Security Audit
        entry: npm audit --audit-level moderate
        language: system
        pass_filenames: false
        files: package-lock\.json$

  # Jest tests (temporarily allowing failures while test suite is being improved)
  - repo: local
    hooks:
      - id: test
        name: Jest Tests
        entry: npm test -- --watchAll=false --passWithNoTests --coverage=false --testFailureExitCode=0
        language: system
        pass_filenames: false
        files: \.(js|jsx|ts|tsx)$

  # Terraform linting and validation
  - repo: local
    hooks:
      - id: terraform_fmt
        name: Terraform Format
        entry: terraform fmt -check -diff
        language: system
        pass_filenames: false
        files: \.tf$

      - id: terraform_validate
        name: Terraform Validate
        entry: terraform validate
        language: system
        pass_filenames: false
        files: \.tf$

      - id: tflint
        name: TFLint
        entry: tflint
        language: system
        pass_filenames: false
        files: \.tf$

  # Ansible linting (temporarily disabled due to exclude pattern issues)
  # - repo: local
  #   hooks:
  #     - id: ansible_lint
  #       name: Ansible Lint
  #       entry: ansible-lint
  #       language: system
  #       pass_filenames: false
  #       files: ^ansible/.*\.(yml|yaml)$
  #       exclude: \.pre-commit-config\.yaml$

docs: add Resend email service PRD and task list
  tasks/prd-resend-email-service.md
  tasks/tasks-prd-resend-email-service.md
Due: none

docs(resend): add Resend env vars to documentation
  .github/workflows/environments/README.md
  README.md
  docs/local-development-setup.md
  docs/secrets-rotation-guide.md
  tasks/prd-resend-email-service.md
  tasks/tasks-prd-resend-email-service.md
Due: none

feat(blog): add AI privacy risks article for law firms
  content/blog/ai-law.mdx
Due: none

style(Navbar): reduce nav link size and spacing
  src/app/components/Navbar.tsx
Due: eslint, typecheck, test

fix(BlogCard): use theme-aware color for card title link
  src/app/components/BlogCard.tsx
Due: eslint, typecheck, test

docs(content): update blog post tags for relevance
  content/blog/ai-law.mdx
  content/blog/backups.mdx
  content/blog/enterprise-security.mdx
  content/blog/https.mdx
  content/blog/ms-business-premium.mdx
  content/blog/ms-teams.mdx
  content/blog/standardized-it.mdx
Due: none

fix(content): unfeature password-paradox blog post
  content/blog/password-paradox.mdx
Due: none

chore(deps): update npm dependencies
  package-lock.json
  package.json
Due: audit

chore(ci): update GitHub Actions and Terraform
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

style(content): fix end-of-file in ms-business-premium
  content/blog/ms-business-premium.mdx
Due: none

chore(deps): update npm dependencies and Stripe API version
  package-lock.json
  package.json
  src/lib/stripe.ts
Due: eslint, typecheck, audit, test

chore(ci): pin Node 24.14.0 and Terraform 1.14.6
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .nvmrc
  Dockerfile
Due: none

docs: add Sentry.io integration planning documents
  tasks/prd-sentry-integration.md
  tasks/tasks-prd-sentry-integration.md
Due: none

docs: update Sentry integration tasks to use wizard approach
  tasks/prd-sentry-integration.md
  tasks/tasks-prd-sentry-integration.md
Due: none

feat(sentry): add Sentry Next.js integration
  .gitignore
  next.config.js
  package-lock.json
  package.json
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/api/sentry-example-api/route.ts
  src/app/global-error.tsx
  src/app/sentry-example-page/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/pages/_error.tsx
Due: eslint, typecheck, audit, test

chore(tasks): mark Sentry integration tasks 1.0–2.2 complete
  tasks/tasks-prd-sentry-integration.md
Due: none

feat(sentry): configure environment-based sampling rates and tagging
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
Due: eslint, typecheck, test

feat(sentry): enhance logging tests and update progress tracking
  src/app/sentry-example-page/page.tsx
  tasks/tasks-prd-sentry-integration.md
Due: eslint, typecheck, test

feat(sentry): integrate error boundaries with Sentry error reporting
  src/app/error.tsx
  tasks/tasks-prd-sentry-integration.md
Due: eslint, typecheck, test

feat(sentry): configure release tracking and verify source map uploads
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
  tasks/tasks-prd-sentry-integration.md
Due: eslint, typecheck, test

feat(sentry): configure deployment pipeline for Sentry monitoring
  .github/workflows/deploy.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  tasks/tasks-prd-sentry-integration.md
Due: none

feat(sentry): update architecture diagrams with Sentry integration
  docs/component-interaction-diagram.md
  tasks/tasks-prd-sentry-integration.md
Due: none

feat(docker): add Sentry build arguments and environment variables
  Dockerfile
  docs/component-interaction-diagram.md
Due: none

docs: expand dependency update process into comprehensive guide
  .cursor/commands/update-deps.md
Due: none

fix: use environment variable for Sentry DSN configuration
  sentry.edge.config.ts
  sentry.server.config.ts
  src/instrumentation-client.ts
Due: eslint, typecheck, test

fix: preserve caught error in contact API route
  src/app/api/contact/route.ts
Due: eslint, typecheck, test

chore: update npm dependencies and Docker base image
  Dockerfile.dev
  package-lock.json
  package.json
Due: audit

fix: add SENTRY_DSN to runtime environment in Dockerfile
  Dockerfile
Due: none

style: format error constructor with prettier
  src/app/api/contact/route.ts
Due: eslint, typecheck, test

fix(security): update serialize-javascript to 7.0.3
  package-lock.json
  package.json
Due: audit

fix(seo): add self-referencing canonical URLs to all pages
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/checkout/layout.tsx
  src/app/layout.tsx
  src/app/onboarding/layout.tsx
  src/app/pricing/layout.tsx
  src/app/privacy-policy/layout.tsx
  src/app/privacy-policy/metadata.ts
  src/app/terms-of-service/layout.tsx
  src/app/terms-of-service/metadata.ts
Due: eslint, typecheck, test

chore(deps): fix security vulnerabilities via npm audit
  package-lock.json
Due: audit

fix(blog): enable tag archive pages to resolve 404 SEO errors
  src/app/blog/page.tsx
  src/app/blog/tag/[tag]/page.tsx
  src/app/components/BlogCard.tsx
  src/app/components/BlogPost.tsx
  src/app/sitemap.ts
  src/lib/blog.ts
Due: eslint, typecheck, test

fix(ci): build Docker image for amd64 only to prevent arm64 timeout
  .github/workflows/deploy.yml
Due: none

chore(deps): update npm dependencies to latest pinned versions
  package-lock.json
  package.json
Due: audit

test: align stripe test with current API version
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, test

chore(terraform): pin required_version to exact 1.14.6
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(ci): update GitHub Actions to latest pinned versions
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/log-aggregation.yml
Due: none

fix(seo): add 301 redirect from www to non-www for production
  ansible/production-deploy.yml
  ansible/templates/nextjs-site.conf.j2
Due: none
