Repository bxmty/dotCA: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

test:
  name: Jest Tests
  entry: npm test -- --watchAll=false --passWithNoTests --coverage=false --testFailureExitCode=0
  language: system
  pass_filenames: false

terraform_fmt:
  name: Terraform Format
  entry: terraform fmt -check -diff
  language: system
  pass_filenames: false

terraform_validate:
  name: Terraform Validate
  entry: terraform validate
  language: system
  pass_filenames: false

tflint:
  name: TFLint
  entry: tflint
  language: system
  pass_filenames: false

chore(ci): update docker/build-push-action to v7.0.0
  .github/workflows/deploy.yml
Due: none

feat(nginx): add permanent redirects for deprecated paths
  ansible/templates/nextjs-site.conf.j2
Due: none

chore(deps): update npm dependencies
  package-lock.json
  package.json
Due: audit

chore(terraform): update DigitalOcean provider
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(ci): update deploy workflow paths-filter
  .github/workflows/deploy.yml
Due: none

feat(seo): add Phase 0 schema markup (LocalBusiness, BreadcrumbList)
  src/app/components/BreadcrumbSchema.tsx
  src/app/components/JsonLd.tsx
  src/app/layout.tsx
  src/lib/schema.ts
Due: eslint, typecheck, test

chore(docs): relocate strategy docs to content directory
  docs/content/keyword-strategy.md
  docs/content/seo-positioning-strategy.md
Due: none

chore: apply pre-commit EOF and Prettier fixes
  docs/content/keyword-strategy.md
  src/app/components/BreadcrumbSchema.tsx
  src/app/components/JsonLd.tsx
  src/lib/schema.ts
Due: eslint, typecheck, test

test(layout): assert root layout attributes via SSR
  src/tests/layout.test.tsx
Due: eslint, typecheck, test

chore(infra): bump Terraform 1.14.7 and DO provider 2.80.0
  .github/workflows/deploy.yml
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(deps): bump npm dependencies
  package-lock.json
  package.json
Due: audit

chore(terraform): bump DO provider and Terraform version
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(ci): pin Terraform 1.14.8 and Node 24.14.1 in workflows
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
Due: none

chore(deps): refresh Node, containers, and npm pins
  .nvmrc
  Dockerfile
  Dockerfile.dev
  package-lock.json
  package.json
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, audit, test

chore(vault): update encrypted variables in vault-vars.yml
  ansible/vars/vault-vars.yml
Due: none

chore(.gitignore): add bugs directory to ignore list
  .gitignore
Due: none

chore(infra): bump Node, Terraform, and DO provider
  .nvmrc
  Dockerfile
  Dockerfile.dev
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(ci): update workflow action and tool versions
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/log-aggregation.yml
Due: none

chore(deps): refresh npm, postcss override, Stripe v22
  .gitignore
  package-lock.json
  package.json
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, audit, test

chore(infra): bump Node 24.16.0, Terraform 1.16.0, DO provider
  .nvmrc
  Dockerfile
  Dockerfile.dev
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(ci): update workflow action and tool versions
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
Due: none

chore(deps): upgrade npm packages and Stripe API
  package-lock.json
  package.json
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, audit, test

chore(terraform): downgrade Terraform version to 1.15.5 in workflow and main.tf
  .github/workflows/deploy.yml
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

feat(ci): add manual Terraform environment destroy workflow
  .github/workflows/deploy.yml
  .github/workflows/environment-destroy.yml
Due: none

chore(infra): update Node, Terraform, and CI pins
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
  .github/workflows/deployment-metrics.yml
  .github/workflows/environment-destroy.yml
  .github/workflows/image-cleanup.yml
  .github/workflows/log-aggregation.yml
  .nvmrc
  Dockerfile
  Dockerfile.dev
  terraform/main.tf
Due: terraform_fmt, terraform_validate, tflint

chore(deps): update npm packages to latest pins
  package-lock.json
  package.json
  src/lib/stripe.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, audit, test

fix(blog): replace gray-matter for js-yaml 4 compatibility
  package-lock.json
  package.json
  scripts/validate-blog-posts.js
  src/app/sitemap.ts
  src/lib/blog.ts
  src/lib/parseFrontmatter.ts
Due: eslint, typecheck, audit, test

chore(gitignore): update logs entry to ignore all log files and add missing entry for bugs directory
  .gitignore
  ansible/vars/vault-vars.yml
Due: none

chore(analytics): remove unused Umami tracking
  .github/workflows/environments/README.md
  .github/workflows/environments/development.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/templates/docker-compose.yml.j2
  docs/secrets-rotation-guide.md
  package-lock.json
  package.json
  src/app/components/UmamiAnalytics.tsx
  src/lib/analytics.ts
  src/lib/umami.ts
  src/tests/analytics.lib.test.ts
  src/tests/umami.lib.test.ts
Due: eslint, typecheck, audit, test

fix(stripe): price orders server-side
  src/app/api/stripe/create-payment-intent/route.ts
  src/app/checkout/page.tsx
  src/app/components/StripeWrapper.tsx
  src/lib/pricing.ts
  src/tests/StripeWrapper.test.tsx
  src/tests/api-stripe-create-payment-intent.test.ts
  src/tests/checkout-page-stripe.test.tsx
  src/tests/components/StripeIntegration.test.tsx
  src/tests/pricing.lib.test.ts
Due: eslint, typecheck, test

fix(docker): inject Stripe key at runtime only
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix(analytics): send one GA pageview per view
  src/app/components/GoogleAnalytics.tsx
  src/app/layout.tsx
  src/lib/gtag.ts
  src/tests/gtag.lib.test.ts
Due: eslint, typecheck, test

style: apply pre-commit formatting fixes
  .gitignore
  docs/component-interaction-diagram.md
  src/lib/web-vitals.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, test

docs: add code review follow-up task list
  tasks/code-review-followups.md
Due: none

fix(docker): use npm ci to enforce lockfile
  Dockerfile
Due: none

fix(blog): validate slugs, filter unpublished posts
  src/lib/blog.ts
  src/tests/blog.lib.test.ts
Due: eslint, typecheck, test

feat(checkout): add payment confirmation page
  src/app/checkout/confirmation/page.tsx
  src/tests/checkout-confirmation-page.test.tsx
Due: eslint, typecheck, test

fix(checkout): remove nested form in payment form
  src/app/components/StripePaymentForm.tsx
  src/tests/StripePaymentForm.test.tsx
  src/tests/components/StripeIntegration.test.tsx
Due: eslint, typecheck, test

fix(api): harden contact route error handling
  src/app/api/contact/route.ts
  src/tests/api-contact.test.ts
Due: eslint, typecheck, test

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typecheck: any of: \.(ts|tsx)$
  audit: any of: package-lock\.json$
  test: any of: \.(js|jsx|ts|tsx)$
  terraform_fmt: any of: \.tf$
  terraform_validate: any of: \.tf$
  tflint: any of: \.tf$
