Repository bxmty/dotCA: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck, audit, test, terraform_fmt, terraform_validate, tflint

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

typecheck:
  name: TypeScript Type Check
  entry: npm run typecheck
  language: system
  pass_filenames: false

audit:
  name: Security Audit
  entry: npm audit --audit-level moderate
  language: system
  pass_filenames: false

test:
  name: Jest Tests
  entry: npm test -- --watchAll=false --passWithNoTests --coverage=false --testFailureExitCode=0
  language: system
  pass_filenames: false

terraform_fmt:
  name: Terraform Format
  entry: terraform fmt -check -diff
  language: system
  pass_filenames: false

terraform_validate:
  name: Terraform Validate
  entry: terraform validate
  language: system
  pass_filenames: false

tflint:
  name: TFLint
  entry: tflint
  language: system
  pass_filenames: false

docs: check off medium-priority review items
  tasks/code-review-followups.md
Due: none

chore(deps): bump app, Terraform, and CI actions
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/environment-destroy.yml
  package-lock.json
  package.json
  terraform/main.tf
Due: audit, terraform_fmt, terraform_validate, tflint

chore(next): support local distDir and LAN origins
  .gitignore
  next.config.js
  tsconfig.json
Due: eslint, test

fix(theme): restore contrast in light and dark modes
  src/app/checkout/confirmation/page.tsx
  src/app/checkout/page.tsx
  src/app/components/BootstrapClient.tsx
  src/app/components/ContactForm.tsx
  src/app/components/Footer.tsx
  src/app/components/WaitlistForm.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/onboarding/page.tsx
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/app/services/it-services-for-accounting-firms/page.tsx
  src/app/services/it-services-for-architecture-firms/page.tsx
  src/app/services/it-services-for-law-firms/page.tsx
  src/app/services/it-services-for-marketing-agencies/page.tsx
  src/app/services/managed-it-services-ontario/page.tsx
  src/tests/BootstrapClient.test.tsx
  src/tests/layout.test.tsx
  src/tests/mock-bootstrap-client.test.tsx
  tasks/frontend-theme-contrast-audit.md
Due: eslint, typecheck, test

style: apply prettier formatting fixes
  src/lib/web-vitals.ts
  src/tests/stripe.lib.test.ts
  tasks/code-review-followups.md
Due: eslint, typecheck, test

docs: add paid checkout and email PRD
  tasks/prd-paid-checkout-and-email-redundancy.md
Due: none

fix(blog): use js-yaml named load import
  src/lib/parseFrontmatter.ts
Due: eslint, typecheck, test

style: format theme contrast audit with prettier
  tasks/frontend-theme-contrast-audit.md
Due: none

docs: spell out Stripe price env var wiring
  tasks/prd-paid-checkout-and-email-redundancy.md
Due: none

chore: add committed .env.example template
  .env.example
  .gitignore
Due: none

docs: archive superseded Resend and Sentry PRDs
  tasks/archive/prd-resend-email-service.md
  tasks/archive/prd-sentry-integration.md
  tasks/archive/tasks-prd-resend-email-service.md
  tasks/archive/tasks-prd-sentry-integration.md
Due: none

docs: clarify env template and GitHub secrets
  tasks/prd-paid-checkout-and-email-redundancy.md
Due: none

chore: wire Resend and webhook secrets through deploy
  .env.example
  .github/actions/deploy/action.yml
  .github/workflows/deploy.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  README.md
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/templates/docker-compose.yml.j2
  docs/cicd/deployment-ghcr.md
  docs/local-development-setup.md
  docs/secrets-rotation-guide.md
  justfile
  scripts/check-secret-formats.sh
  scripts/local-deploy.sh
  scripts/setup-local-dev.sh
  scripts/validate-environment.sh
  scripts/validate-secrets.sh
Due: none

feat(pricing): use CAD and Stripe lookup keys
  src/lib/pricing.ts
  src/lib/stripe.ts
  src/tests/pricing.lib.test.ts
  src/tests/stripe.lib.test.ts
Due: eslint, typecheck, test

chore(deps): add resend SDK for email redundancy
  package-lock.json
  package.json
Due: audit

docs: mark paid checkout PRD implemented locally
  tasks/prd-paid-checkout-and-email-redundancy.md
Due: none

feat(forms): add email redundancy and spam defenses
  src/app/api/contact/route.ts
  src/app/api/onboarding/route.ts
  src/app/components/ContactForm.tsx
  src/app/onboarding/page.tsx
  src/tests/ContactForm.test.tsx
  src/tests/api-contact.test.ts
  src/tests/api-onboarding.test.ts
Due: eslint, typecheck, test

feat(stripe): add subscription create and webhook
  src/app/api/stripe/create-payment-intent/route.ts
  src/app/api/stripe/create-subscription/route.ts
  src/app/api/stripe/webhook/route.ts
  src/tests/api-stripe-create-payment-intent.test.ts
  src/tests/api-stripe-create-subscription.test.ts
  src/tests/api-stripe-webhook.test.ts
Due: eslint, typecheck, test

feat(checkout): enable paid subscription checkout
  e2e/checkout.spec.ts
  e2e/post-deployment.spec.ts
  src/app/checkout/metadata.ts
  src/app/checkout/page.tsx
  src/app/components/StripeWrapper.tsx
  src/app/components/WaitlistForm.tsx
  src/app/pricing/page.tsx
  src/tests/StripeWrapper.test.tsx
  src/tests/WaitlistForm.test.tsx
  src/tests/checkout-page-stripe.test.tsx
  src/tests/checkout-page.test.tsx
  src/tests/components/StripeIntegration.test.tsx
Due: eslint, typecheck, test

feat(lib): add notify, Brevo, and rate-limit helpers
  src/lib/brevo.ts
  src/lib/notify.ts
  src/lib/rate-limit.ts
  src/tests/brevo.lib.test.ts
  src/tests/notify.lib.test.ts
  src/tests/rate-limit.lib.test.ts
Due: eslint, typecheck, test

fix(ci): fail deploy on wrong Stripe key mode
  .github/workflows/deploy.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
Due: none

docs: close Stripe traps and add UAT plan
  tasks/prd-paid-checkout-and-email-redundancy.md
Due: none

style: apply prettier to recent test files
  e2e/checkout.spec.ts
  src/tests/api-stripe-webhook.test.ts
  src/tests/brevo.lib.test.ts
Due: eslint, typecheck, test

chore(deps): bump npm package pins
  package-lock.json
  package.json
Due: audit

chore(ci): bump setup-node action to v7.0.0
  .github/workflows/deploy.yml
  .github/workflows/deploy.yml.test.yml
Due: none

fix(ansible): drop vault-vars.yml, rely on GH env secrets
  .github/actions/deploy/action.yml
  .github/workflows/README.md
  .github/workflows/deploy.yml
  .github/workflows/environments/README.md
  .github/workflows/environments/development.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  ansible/SECURITY.md
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/vars/vault-vars.yml
  docs/secrets-rotation-guide.md
  scripts/README.md
  scripts/check-secret-formats.sh
  scripts/validate-secrets.sh
Due: none

refactor(deploy): drop vault, use GH secrets
  .env.example
  .github/actions/deploy/action.yml
  .github/workflows/README.md
  .github/workflows/deploy.yml
  .github/workflows/environments/README.md
  .github/workflows/environments/development.yml
  .github/workflows/environments/production.yml
  .github/workflows/environments/staging.yml
  ansible/SECURITY.md
  ansible/ansible-local.cfg
  ansible/production-deploy.yml
  ansible/staging-deploy.yml
  ansible/vars/vault-vars.yml
  docs/secrets-rotation-guide.md
  scripts/README.md
  scripts/check-secret-formats.sh
  scripts/local-deploy.sh
  scripts/validate-secrets.sh
Due: none

feat: add address autocomplete to forms
  eslint.config.js
  src/app/api/geocode/route.ts
  src/app/checkout/page.tsx
  src/app/components/AddressAutocomplete.tsx
  src/app/onboarding/page.tsx
  src/lib/nominatim.ts
  src/tests/AddressAutocomplete.test.tsx
  src/tests/api-geocode.test.ts
  src/tests/nominatim.lib.test.ts
Due: eslint, typecheck, test

docs(content): add page copy as markdown
  content/pages/blog.md
  content/pages/checkout-confirmation.md
  content/pages/checkout.md
  content/pages/home.md
  content/pages/onboarding.md
  content/pages/pricing.md
  content/pages/privacy-policy.md
  content/pages/services-it-services-for-accounting-firms.md
  content/pages/services-it-services-for-architecture-firms.md
  content/pages/services-it-services-for-law-firms.md
  content/pages/services-it-services-for-marketing-agencies.md
  content/pages/services-managed-it-services-ontario.md
  content/pages/terms-of-service.md
Due: none

feat(seo): add Article JSON-LD to blog posts
  src/app/blog/[slug]/page.tsx
Due: eslint, typecheck, test

feat(blog): render GFM, rename posts to .md
  content/blog/ai-law.md
  content/blog/backups.md
  content/blog/diy-law.md
  content/blog/enterprise-security.md
  content/blog/fractional-cto.md
  content/blog/https.md
  content/blog/ms-business-premium.md
  content/blog/ms-teams.md
  content/blog/password-paradox.md
  content/blog/standardized-it.md
  package-lock.json
  package.json
  scripts/validate-blog-posts.js
  src/app/blog/[slug]/page.tsx
  src/app/sitemap.ts
  src/lib/blog.ts
  src/tests/blog.lib.test.ts
Due: eslint, typecheck, audit, test

chore(deps): drop unused serialize-javascript
  package-lock.json
  package.json
Due: audit

feat(seo): honest sitemap dates, RSS, OG cards
  src/app/blog/[slug]/opengraph-image.tsx
  src/app/blog/[slug]/page.tsx
  src/app/feed.xml/route.ts
  src/app/layout.tsx
  src/app/sitemap.ts
  src/lib/og.tsx
  tsconfig.json
Due: eslint, typecheck, test

feat(ux): loading states, skip link, a11y icons
  src/app/blog/loading.tsx
  src/app/checkout/loading.tsx
  src/app/components/CheckIcon.tsx
  src/app/components/ContactForm.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, typecheck, test

chore: ignore scratch build dir, tidy tsconfig
  .gitignore
  tsconfig.json
Due: none

refactor(services): data-driven landing pages
  src/app/services/ServiceLandingPage.tsx
  src/app/services/heroImage.ts
  src/app/services/it-services-for-accounting-firms/content.ts
  src/app/services/it-services-for-accounting-firms/opengraph-image.tsx
  src/app/services/it-services-for-accounting-firms/page.tsx
  src/app/services/it-services-for-architecture-firms/content.ts
  src/app/services/it-services-for-architecture-firms/opengraph-image.tsx
  src/app/services/it-services-for-architecture-firms/page.tsx
  src/app/services/it-services-for-law-firms/content.ts
  src/app/services/it-services-for-law-firms/opengraph-image.tsx
  src/app/services/it-services-for-law-firms/page.tsx
  src/app/services/it-services-for-marketing-agencies/content.ts
  src/app/services/it-services-for-marketing-agencies/opengraph-image.tsx
  src/app/services/it-services-for-marketing-agencies/page.tsx
  src/app/services/managed-it-services-ontario/content.ts
  src/app/services/managed-it-services-ontario/opengraph-image.tsx
  src/app/services/managed-it-services-ontario/page.tsx
Due: eslint, typecheck, test

fix(onboarding): success screen and phone input
  src/app/onboarding/page.tsx
  src/tests/onboarding-page.test.tsx
Due: eslint, typecheck, test

style: apply prettier to drifted files
  content/blog/ai-law.md
  content/blog/enterprise-security.md
  content/blog/https.md
  content/blog/ms-teams.md
  content/blog/standardized-it.md
  content/pages/blog.md
  content/pages/checkout.md
  content/pages/home.md
  content/pages/pricing.md
  content/pages/services-it-services-for-accounting-firms.md
  content/pages/services-it-services-for-architecture-firms.md
  content/pages/services-it-services-for-law-firms.md
  content/pages/services-it-services-for-marketing-agencies.md
  content/pages/services-managed-it-services-ontario.md
  src/app/blog/[slug]/opengraph-image.tsx
  src/app/services/ServiceLandingPage.tsx
  src/app/services/it-services-for-accounting-firms/opengraph-image.tsx
  src/app/services/it-services-for-architecture-firms/opengraph-image.tsx
  src/app/services/it-services-for-law-firms/opengraph-image.tsx
  src/app/services/it-services-for-marketing-agencies/opengraph-image.tsx
  src/app/services/managed-it-services-ontario/content.ts
  src/app/services/managed-it-services-ontario/opengraph-image.tsx
  src/lib/nominatim.ts
  src/lib/og.tsx
  src/tests/AddressAutocomplete.test.tsx
  src/tests/api-geocode.test.ts
  src/tests/nominatim.lib.test.ts
  tsconfig.json
Due: eslint, typecheck, test

fix(ansible): stop watchdog from killing healthy prod container
  ansible/templates/docker-compose.yml.j2
  ansible/templates/monitor.sh.j2
Due: none

fix(services): strip unverifiable Ontario claims
  content/pages/services-managed-it-services-ontario.md
  src/app/services/ServiceLandingPage.tsx
  src/app/services/managed-it-services-ontario/content.tsx
Due: eslint, typecheck, test

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  typecheck: any of: \.(ts|tsx)$
  audit: any of: package-lock\.json$
  test: any of: \.(js|jsx|ts|tsx)$
  terraform_fmt: any of: \.tf$
  terraform_validate: any of: \.tf$
  tflint: any of: \.tf$
